BASE_URL="https://url.com"

CLIENT_ID="client_id from console.cloud.google.com"
CLIENT_SECRET="client_secret from console.cloud.google.com"
REDIRECT_URI=""

TOKEN_PATH="path to token.json",

USER_EMAIL="test@test.com"
USER_PASSWORD="password"
